/* ================
    Font-Family
================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


:root{
    /* color  */
    --bg:#111010;
    --bgb:#0C8BFD;
    --bgbr:#1e1e1e;

    /* font-family  */
    --ffp:'Poppins',
        sans-serif;
    --ffr:'Roboto',
        sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: #fff;
    font-family: var(--ffr);
}

/* ================
    Typography
================ */
a{
    text-decoration: none;
    color: var(--bgw);
}

a:hover{
    background-color: #F637EC;
}

h1{
    font-size: 3.5rem;
    font-weight: 700;
}

h2{
    font-size: 3.5rem;
    font-weight: 500;
}

h3{
    font-size: 1.2rem;
    color: #000;
}

/* ================
    Header
================ */

.nav-menu{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #F637EC; */
    font-size: 0.9rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--bgbr);
}

.logo{
    /* border: 2px solid #fff; */
    margin-top: 1.25em;
    margin-left: 8em;
}

.menu-list,
.menu-list-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    /* border: 2px solid #fff; */
}

.menu-list{
    width: 45vw;
    margin-top: 2.5rem;
    opacity: 0.6;
}

.menu-list-right{
    margin-top: 2rem;
    margin-right: 5rem;
    margin-bottom: 1.25rem;
}

.login{
    padding: 0.50rem 2rem;
    border-radius: 20px;
    background-color: var(--bgb);
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}


/* ================
    Hero Section
================ */
.hero{
    display: flex;
    margin: 5em 0 5em 8em;
}

.hero-left{
    width: 50%;
}

.hero-right{
    width:50%
}

.hero-title{
    font-size: 4.4rem;
}

.cheapest{
    color: var(--bgb);   
}

.hero-subtitle{
    margin-bottom: 5em;
    margin-top: 1.6em;
    opacity: 0.4;
    /* letter-spacing: 1px; */
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.2rem;
}

.hero-get-started,
.hero-try-start{
    padding: 0.8rem 2rem;
    border-radius: 25px;
    max-width: 35%;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.hero-get-started{
    background-color: var(--bgb);
    margin-right: 1.5em;
}

.hero-try-start{
    border: 1px solid #fff;
    background-color: var(--bg);
}

/* ================
    Multiple Logo's
================ */

.multi-logo{
    background-color: var(--bgbr);
    display: flex;
    justify-content: space-evenly;
    padding: 2.5em 0;
    /* border: 2px solid #fff; */
}


/* =====================
    Best Service Section
====================== */
.service{
    background-color: #fff;
    padding-top: 6em;
}


.best-service{
    color: #000;
    text-align: center;
    letter-spacing: 1px;
}

.best-service-para{
    color: var(--bgbr);
    opacity: 0.6;
    line-height: 1.6;
    padding-top: 1em;
    font-size: 1.3em;
    text-align: center;
}

/* ------- service cards -------- */
.service-cards{
    /* border: 2px solid pink; */
    margin-top: 3em;
    min-height: 45vh;
    display: flex;
    justify-content: center;
    
}

.service-card-center,
.service-card-left,
.service-card-right{
    border-radius: 20px;
    width: 23vw;
    height: 42vh;
    text-align: center;
    padding-bottom: 2em;
}

.service-card-left,
.service-card-right{
    margin-top: 4em;
    border: 2px solid #d1d1d1;
}


.service-card-left{
    margin-right: 6em;
}

.service-card-center{
    /* border: 1px solid #fff; */
    background-color: #000;
    margin-right: 6em;
    box-shadow: 5px 10px #e0e0e0;
}


.service-card-img{
    padding-top: 1.6em;
    margin-bottom: 1.8em;
    height: 110px;
}

.service-card-header{
    margin-bottom: 1.8em;
    font-size: 1.6em;
}

.service-card-para{
    color: var(--bgbr);
    opacity: 0.8;
    line-height: 1.3;
    font-size: 1.1em;
}

.center-h3{
    color: #fff;
}

.center-para{
    color: #fff;
    opacity: 0.5;
    line-height: 1.3;
}

/* ------- We are ready --------*/

.hero-2{
   margin: 10em 0em 0em 0em;
}

.dropdown-title{
    color: #000;
    margin-left: 3em;
    margin-bottom: 1.5em;
    letter-spacing: 0.7px;
}

.main-features{
    display: flex;
    justify-content: space-around;
}
.main-features-left,
.main-features-right{
    width: 40vw;
}
.main-features-right{
    background-color: #000;
}


.features-active{
    color: #fff;
    background-color: #0C8BFD;
}

.features{
    color: #000;
}

.features,
.features-active{
    font-size: 1.5em;
    font-weight: 500;
    padding: 1em 3em;
    border-radius: 50px;
    border: 1px solid #1e1e1e;
    display: block;
    margin-bottom: 1em;
}


.features-img{
    margin-left: 8em;
}

.sub-features,
.sub-features-active{
    padding: 1em 3em;
    border-radius: 20px;
    border: 1px solid #1e1e1e;
    display: block;
}


/* =====================
    Hosting your website
====================== */

.hosting-web-header{
    display: flex;
    justify-content: center;
}

.hosting-web-title{
    margin-top: 1.8em;
    color: #fff;
    text-align: center;
}

.arrow-left,
.arrow-right{
    margin-top: 10em;
}

.arrow-left{
    margin-right: 9em;
}

.arrow-right{
    margin-left: 9em;
}

/* Splash Cards */

.splash-cards{
    font-family: var(--ffp);
    display: flex;
    justify-content: space-evenly;
    margin-top: 4em;
}

.splash-cards-left,
.splash-cards-right{
    background-color: #fff;
    color: #000;
}

.splash-cards-center{
    background-color: var(--bgb);
}

.splash-cards-left,
.splash-cards-center,
.splash-cards-right{
    padding: 1em 2em;
    height: 80vh;
    width: 23vw;
    border-radius: 20px;
    margin-bottom: 4em;
}

.splash-cards-header{
    font-size: 2rem;
}

.splash-cards-doller{
    padding-top: 0.2em;
    font-size: 3rem;
    font-weight: bold;
}

.splash-cards-span{
    font-size: 2rem;
    opacity: 0.6;
}

.splash-cards-left > p,
.splash-cards-center > p,
.splash-cards-right > p{
    font-weight: 600;
    font-size: 0.9rem;
    padding-bottom: 1em;
}

.select{
    background-color: var(--bgb);
   
}
.select-center{
    background-color: #fff;
    color: #000;
}

.select,
.select-center{
    padding: 1em 7.4em;
    border-radius: 30px;
    text-align: center;
}

.splash-cards-left > p > img,
.splash-cards-center > p > img,
.splash-cards-right > p > img{
    padding-right: 1em;

}

/* =====================
    Customer Review
====================== */

.customer-review{
    background-color: #fff;
}

.customer-review-top{
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 4em 9em;
}

.customer-review-para{
    opacity: 0.6;
    padding-top: 1.6em;
    padding-right: 3em;
    font-size: 1.2rem;
}

/* =====================
    Footer
====================== */

.sign-up-header{
    text-align: center;
    margin: 2em 0em;
}

.form{
    background-color: #292828;
    height: 20vh;
    margin: 0em 6em 6em 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

form > input{
    width: 20vw;
    height: 6vh;
    border-radius: 20px;
    background-color: #3E3D3D;
}

.hr-tag{
    margin: 3em 6em;
    opacity: 0.5;
}



/* -------- Footer Logo ---------- */

.footer-logo{
    margin-left: 6em;
    margin-bottom: 3em;
}