/* ================
    Font-Family
================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


:root{
    /* color  */
    --bg:#111010;
    --bgb:#0C8BFD;
    --bgbr:#1e1e1e;

    /* font-family  */
    --ffp:'Poppins',
        sans-serif;
    --ffr:'Roboto',
        sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg);
    color: #fff;
    font-family: var(--ffr);
}

/* ================
    Typography
================ */
a{
    text-decoration: none;
    color: var(--bgw);
}

h1{
    font-size: 3.5rem;
    font-weight: 700;
}

h2{
    font-size: 3.5rem;
    font-weight: 500;
}

h3{
    font-size: 1.2rem;
    color: #000;
}

/* ================
    Header
================ */

.nav-menu{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid #F637EC; */
    font-size: 0.9rem;
}

.logo{
    /* border: 2px solid #fff; */
    margin-top: 1.25em;
    margin-left: 6em;
}

.menu-list,
.menu-list-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    /* border: 2px solid #fff; */
}

.menu-list{
    width: 45vw;
    margin-top: 2.5rem;
    opacity: 0.6;
}

.menu-list-right{
    margin-top: 2rem;
    margin-right: 5rem;
    margin-bottom: 1.25rem;
}

.login{
    padding: 0.50rem 2rem;
    border-radius: 20px;
    background-color: var(--bgb);
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
}


/* ================
    Hero Section
================ */
.hero{
    display: flex;
    margin: 5em 0 5em 5em;
}

.hero-left{
    width: 50%;
}

.hero-right{
    width:50%
}

.hero-title{
    font-size: 4.8rem;
}

.cheapest{
    color: var(--bgb);   
}

.hero-subtitle{
    margin-bottom: 5em;
    margin-top: 1.6em;
    opacity: 0.4;
    /* letter-spacing: 1px; */
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.2rem;
}

.hero-get-started,
.hero-try-start{
    padding: 0.8rem 2rem;
    border-radius: 25px;
    max-width: 35%;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.hero-get-started{
    background-color: var(--bgb);
    margin-right: 1.5em;
}

.hero-try-start{
    border: 1px solid #fff;
    background-color: var(--bg);
}

/* ================
    Multiple Logo's
================ */

.multi-logo{
    background-color: var(--bgbr);
    opacity: 0.8;
    display: flex;
    justify-content: space-evenly;
    padding: 2.5em 0;
    /* border: 2px solid #fff; */
}


/* =====================
    Best Service Section
====================== */
.service{
    background-color: #fff;
    padding-top: 6em;
}


.best-service{
    color: #000;
    text-align: center;
    letter-spacing: 1px;
}

.best-service-para{
    color: var(--bgbr);
    opacity: 0.6;
    line-height: 1.6;
    padding-top: 1em;
    font-size: 1.3em;
    text-align: center;
}

/* ------- service cards -------- */
.service-cards{
    border: 2px solid pink;
    margin-top: 3em;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    
}

.service-card-left{
    border: 1px solid #000;
    border-radius: 20px;
    width: 17vw;
    height: 30vh;
    margin-top: 4em;
    text-align: center;
    padding-bottom: 2em;
    margin-right: 3em;
}

.service-card-center{
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #000;
    width: 17vw;
    height: 30vh;
    text-align: center;
    padding-bottom: 2em;
    margin-right: 3em;
}

.service-card-right{
    border: 1px solid #000;
    border-radius: 20px;
    height: 30vh;
    width: 17vw;
    margin-top: 4em;
    text-align: center;
    padding-bottom: 2em;
}


.service-card-img{
    padding-top: 1em;
    margin-bottom: 1.5em;
}

.service-card-header{
    margin-bottom: 1em;
}

.service-card-para{
    color: var(--bgbr);
    opacity: 0.8;
    line-height: 1.3;
}

.center-h3{
    color: #fff;
}

.center-para{
    color: #fff;
    opacity: 0.5;
    line-height: 1.3;
}

/* ------- We are ready --------*/

.dropdown-title{
    color: #000;
    font-size: 2.5rem;
    margin-left: 2em;
}

/* =====================
    Hosting your website
====================== */

